.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
  }

  .success {
    background: green;
  }

  .error {
    background: red;
  }
  .half-width {
    display: inline-block;
  }


  .lucid {
    background-image: url('../images/strange.jpg');
    width: 960px;
    height: 400px;
    background-position: top center; 
    color: white;
    text-align: center;
  }

  .lucid-log {
    background-image: url('../images/lucid.jpg');
    background-position: top center; 
    color: white;
  }

  .date {
    min-width: 65px;
  }

  body {
    background: linear-gradient(to right, #FFFDE4, #005AA7);
  }